.navBarCss {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarCss a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navBarCss a:hover {
    color: #ffcc00;
}